.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    /* height: 100vh; */
    background-color: rgb(251, 251, 251);
}

.sidebarWrapper {
    padding: 20px;
}

.sidebarMenu {
    margin-bottom: 30px;
}

.sidebarTitle {
    font-size: 20px;
    color: rgb(144, 143, 143);
    font-weight: 600;
}

.sidebarList {
    list-style: none;
    color: #555;
    margin-top: 12px;
}

.sidebarItem {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
    border-radius:10px;
    height: 40px;

}

.sidebarIcon {
    font-size: 24px !important;
    margin:0 10px;
}

.sidebarItem.active,
.sidebarItem:hover {
    background-color: rgb(227, 233, 253)
}

.sidebarItemLink {
    text-decoration: none;
    color: #555;
    width: 200px;
}

.btnLogout {
    width: 200px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(84, 100, 238);
    color: #fff;
    align-items: center;
    cursor: pointer;
}

.btnLogout:hover {
    background-color: rgb(62, 80, 246);
    transition: ease-in 100ms;  
}